@font-face{
  font-family: 'MochiyBold';
  src: local('MochiyBold'),
  url('../../fonts/Mochiy_Pop_P_One/MochiyPopPOne-Regular.ttf') format('truetype');
}


@font-face{
  font-family: 'Poppins';
  src: local('Poppins'),
  url('../../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsMedium';
  src: local('PoppinsMedium'), url('../../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsBold';
  src: local('PoppinsBold'), url('../../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}