/***** UTILITIES *****/
.h-100{
  height: 100% !important;
  
}
.w-100{
  width: 100% !important;
}
.placeholder{
  width: 100%;
  min-height: 200px;
  background: Colors('accent');
}

.hoverable{
  cursor: pointer;
  &-link{
    cursor: pointer;
    &:hover{
      color: #7c7c7c !important;
    }
  }
}

.image-container{
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
}

.curvy{
  border-radius: 1rem !important;
  &-sm{
    border-radius: .4rem !important;
  }
  &-md{
    border-radius: .8rem !important;
  }

  &-full{
    border-radius: $border-radius-curvy;
  }
}


.overlap-img{
  position: relative;
  &::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
}

.image-background{
  position: absolute !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  img{
   
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.heading{
  display: inline-block;
  padding: 1.5rem 0 0 0;
  *{
    font-weight: 800;
    font-family: 'PoppinsBold';
  }
  position: relative;
  &::before{
    position: absolute;
    width: 30px;
    height: 5px;
    content: '';
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: black;
  }
}

border-0{
  border: 0 !important;
}
@include getAllBackgroundColors();


.text-shadow{
  color: transparent;
  text-shadow: 2px 4px rgba($color: #000000, $alpha: .4);
}